
/AFM
Data/Emission_log.xlsx
Editing files for how to guide/EGM722 - How to guide Nick Kinsella.docx
Editing files for how to guide/EGM722 graphics.ppt
Editing files for how to guide/flowchart.odp
Editing files for how to guide/EGM722 - How to guide Nick Kinsella.pdf
How to Guide/EGM701 - How to guide Nick Kinsella.docx
/Sentinel 2 Multi-Band-Multi-Pass
/Varon methane detection code
