
/AFM
Data/Emission_log.xlsx
Editing files for how to guide/EGM722 - How to guide Nick Kinsella.docx
Editing files for how to guide/EGM722 graphics.ppt
Editing files for how to guide/flowchart.odp
Editing files for how to guide/EGM722 - How to guide Nick Kinsella.pdf
How to Guide/EGM701 - How to guide Nick Kinsella.docx
/Sentinel 2 Multi-Band-Multi-Pass
/Varon methane detection code
Progress Report 1/EGM701 - Progress Report .docx
Progress Report 1/~$M701 - Progress Report .docx
Progress Report 1/~WRL1106.tmp
How to Guide/~$M701 - How to guide Nick Kinsella.docx
Editing files for how to guide/field_map.jpg
Editing files for how to guide/field_map.jpg.xml
How to Guide/~WRL2644.tmp
How to Guide/~WRL3567.tmp
Progress Report 1/~WRL0418.tmp
Progress Report 1/EGM701 - Progress Report 1.docx
Progress Report 1/~$M701 - Progress Report 1.docx
Progress Report 1/~WRL1008.tmp
/SWIR_Data
SWIR_diff_output.tiff
Sentinel-2_truecolourMBMP.Tiff
Sentinel-2_no_emissionMBMP.Tiff
Sentinel-2_active_emissionMBMP.Tiff
.ipynb_checkpoints/S2_Plume_Finder-checkpoint.ipynb
.ipynb_checkpoints/S2_Plume_Finder-checkpoint.ipynb
.ipynb_checkpoints/S2_Plume_Finder-checkpoint.ipynb
/.ipynb_checkpoints
SWIR_diff.tiff
/.ipynb_checkpoints
/ddeq-1.0
SWIR_diff_4326.tiff
/U_Plume
/Progress Report 1
/.ipynb_checkpoints
/.ipynb_checkpoints
Sentinel-2_truecolour_4326.TIFF
temp_rgb_image.png
How to Guide/~WRL0691.tmp
.ipynb_checkpoints/S2_Plume_Finder-checkpoint.ipynb
.ipynb_checkpoints/S2_Plume_Finder-checkpoint.ipynb
How to Guide/~WRL0691.tmp
